{% extends "base.html" %}
{% block content %}
	{% if product %}
	    <h1>{{ product.title }}</h1>
	    <div class="col-lg-12">
		    <div class="col-lg-8">
		    </div>
		    <div class="col-lg-4">
		    	<p>{{ product.description }}</p>
		    	<h4>Prix : {{ product.prix }} €</h4>
		    	<h4>Poids : {{ product.poids }} kg</h4>
		    	<br/>
		    	<h4>Catégories Attachées :</h4>
		    	<ul style="padding: 0px 10px 0">
		    		{% for cat in product.categories.all %}
		    		<li>{{ cat }}</li>
		    		{% endfor %}
		    	<ul>
		    </div>
	    </div>
	{% else %}
	    <p>Impossible de trouver le produit demandé</p>
	{% endif %}
{% endblock %}