{% extends "base.html" %}
{% block content %}
	{% if latest_produits_list %}
	    {% for produit in latest_produits_list %}
	        <div class="col-lg-12">
	          <a class="thumbnail" href="{% url 'produits:detail' produit.id %}">
	            <img class="img-responsive" src="http://placehold.it/100x100" alt="">
	          </a>
	          {% load staticfiles %}
	          {{ produit.get_feature_image.image.path  }}
	  		  <h4 class="title">{{ produit.title }} 
	  		  	<span>{{ produit.prix }} €</span>
	  		  	<span>{{ produit.poids }} kg</span>
	  		  </h4>

	          <p>
	          {% autoescape on %}
	          	{{ produit.description|truncatechars:150 }}
	          {% endautoescape %}
	          </p>
	          {% for tag in produit.tags.all %}
	          	{{ tag.tag }}
	          {% endfor %}
	          <spna class="see">
	          	<a href="{% url 'produits:detail' produit.id %}">En savoir plus</a>
	          </spna>
	        </div>
	    {% endfor %}
	{% else %}
	    <p>Aucun produit trouvé !</p>
	{% endif %}
{% endblock %}